<% if !user_signed_in? # if the user is not signed in, render this %>

    <style>
        body {
            background: linear-gradient( /* somewhat transparent film on top of the BG to make it look darker. */
                rgba(0,0,0, 0.4),
                rgba(0,0,0, 0.4)
                ), url("/background.png") no-repeat center center fixed; /* only display once, center horizontal and vertical, dont let scroll change position. */
            -webkit-background-size: cover;
            -moz-background-size: cover; /* cover the whole html element. */
            -o-background-size: cover;
            background-size: cover;
        }
        .row{
            overflow: hidden; 
        }
        [class*="col-"]{
            margin-bottom: -99999px;
            padding-bottom: 99999px;

        }
        .home-panel {
            margin-top: 9%;
        }
        .home-left {
            background-color: rgba(230, 147, 255, .6);
            padding-left: 20px;
            padding-right: 20px;
            padding-top: 26px;
            color: white;
        }
        .home-right {
            background-color: white;
            padding-left: 35px;
            padding-right: 35px;
        }
        .home-right-form {
            padding-left: 15px;
            padding-right: 15px;
        }
        .home-text {
            color: white;
            padding-left: 35px;
            padding-right: 35px;
        }
        .footer-links {
            text-align: center;
            color: white;
            margin-top: 5%;
            font-size: 75%;
        }
        
        /* Styling for Index */
        
        .home-animation {
          height: 230px;
        }
        #slides span {
          display: none;
          position: relative;
        }
        #slides {
          position: relative;
          top: 120px;
        }
        .slide-post {
            position: absolute;
            left: -10px;
        }
        .slide-avatar {
            position: absolute;
        }
        .slide-avatar-circle {
            border: 1px solid #d9d9d9;
            border-radius: 50%;
            -moz-border-radius: 50%;
            -webkit-border-radius: 50%;
            height: 55px;
            width: 55px;
            margin-left: 3px;
            margin-top: -1px;
            margin-right: 6px;
        }
        .slide-arrow {
          position: absolute;
          left: 60px;
          top: 5px;
          border-right: 15px solid #ffffff;
          border-bottom: 21px solid transparent;
          border-top: 0px solid transparent;
        }
        .slide-panel {
            position: absolute;
            width: 250px;
            top: 5px;
            left: 72px;
            padding:  14px 15px 19px 15px;
            background-color: white;
            border: 0px solid white;
            border-radius: 0px 10px 10px 10px;
        }
        .slide-owner {
            display: inline-block;
            color: black;
            font-weight: bold;
        }
        .slide-date {
            display: inline-block;
            color: black;
            float: right;
            opacity: 0.7;
        }
        .slide-content {
            color: black;
            text-align: left;
            font-size: 14.5px;
            word-wrap: break-word;
            margin-top: 9px;
        }
    </style>
    
    <div class="row">
        <div class="col-sm-offset-1 col-sm-10 col-md-offset-1 col-md-10 home-panel">

            <div class="col-xs-12 col-sm-6 col-md-6 home-left">
                <center>
                <h2>Floot is your daily disappearing public feed.</h2>
                </center>    
                
                <div class="home-animation">
                    <span id="slides">
                        
                     <span id="slide1">
                        <div class="slide-post">
                            <div class="slide-avatar">
                                <img src="http://floot-aws.s3.amazonaws.com/users/avatars/000/000/005/thumb/nibal.jpg" class="slide-avatar-circle" >
                            </div>
                            <div class="slide-arrow"></div>
                            <div class="slide-panel">
                                <div class="slide-owner"><a href="http://floot.cc/nibal">Nibal</a></div>
                                <div class="slide-date">Just now</div>
                                <div class="slide-content">Your thoughts come and go, so should your social media.</div>
                            </div>
                        </div>
                      </span>

                     <span id="slide2">
                        <div class="slide-post">
                            <div class="slide-avatar">
                                <img src="https://s-media-cache-ak0.pinimg.com/236x/27/73/8b/27738b3e152b6ba412535ed24efffd3f.jpg" class="slide-avatar-circle" >
                            </div>
                            <div class="slide-arrow"></div>
                            <div class="slide-panel">
                                <div class="slide-owner"><a href="http://floot.cc/">Jessica</a></div>
                                <div class="slide-date">less than a minutes ago</div>
                                <div class="slide-content">Your posts on Floot disappear every 16 hours... just like this 😉</div>
                            </div>
                        </div>
                      </span>
                      
                      <span id="slide3">
                        <div class="slide-post">
                            <div class="slide-avatar">
                                <img src="http://i2.kym-cdn.com/entries/icons/square/000/007/539/collegesenior.PNG" class="slide-avatar-circle" >
                            </div>
                            <div class="slide-arrow"></div>
                            <div class="slide-panel">
                                <div class="slide-owner"><a href="http://floot.cc/sandra">Tim</a></div>
                                <div class="slide-date">2 minutes ago</div>
                                <div class="slide-content">Nothing better than being back home for break!</div>
                            </div>
                        </div>
                      </span>
                      
                      <span id="slide4">
                        <div class="slide-post">
                            <div class="slide-avatar">
                                <img src="http://floot-aws.s3.amazonaws.com/users/avatars/000/000/003/thumb/sandra.jpg" class="slide-avatar-circle" >                            </div>
                            <div class="slide-arrow"></div>
                            <div class="slide-panel">
                                <div class="slide-owner"><a href="http://floot.cc/sandra">Sandra</a></div>
                                <div class="slide-date">4 minutes ago</div>
                                <div class="slide-content">Putting up xmas decor ✅  vs. Taking down xmas decor ❌</div>
                            </div>
                        </div>
                      </span>
                      
                    </span>
                </div>
                
                <script>
                jQuery(document).ready(function($) {
                    runslide();
                    function runslide() {
                      $('#slide1,#slide2,#slide3,#slide4').css({top: 0})
                      $('#slide1').delay(1600).fadeIn({queue: true, duration: 'slow'}).animate({ top: "-70px" }, 'slow').delay(6500).fadeOut(1600, function() {       			
                     		$('#slide2').delay(1700).fadeIn({queue: true, duration: 'slow'}).animate({ top: "-70px" }, 'slow').delay(5500).fadeOut(1600, function() {
                           		$('#slide3').delay(1500).fadeIn({queue: true, duration: 'slow'}).animate({ top: "-70px" }, 'slow').delay(5500).fadeOut(1600, function() {
                           		    $('#slide4').delay(1500).fadeIn({queue: true, duration: 'slow'}).animate({ top: "-70px" }, 'slow').delay(5500).fadeOut(1600, function() {
                                    runslide();
                           		    });
                                });
                            });
                        });
                    }
                });
                </script>
                
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 home-right">
                
                <div class="text-center">
                <h3>Reserve your username.</h3><br />

                <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
                <%= devise_error_messages! %>

                <div class="home-right-form">
                    
                    <div class="form-group">
                         <%= f.text_field :name, placeholder: "Name", class: "form-control" %>
                    </div>
                    
                    <div class="form-group input-group">
                    <span class="input-group-addon" id="basic-addon3">floot.cc/</span>
                      <%= f.text_field :username, placeholder: "Username", class: "form-control", id: "basic-url" %>
                    </div>
        
                    <div class="form-group">
                      <%= f.email_field :email, placeholder: "Email", class: "form-control" %>
                    </div>
                  
                    <div class="form-group">
                      <%= f.password_field :password, placeholder: "Password", class: "form-control", autocomplete: "off" %>
                    </div>
                    
                    <div class="actions">
                      <%= f.submit "Create", class: "btn btn-primary form-control" %>
                    </div>
                    <% end %>
                    <br />Already have an account? <%= link_to('Login', new_user_session_path)  %><br /><br />
                </div>
                </div>
            </div>
    
        </div>
      </div>
    </div>
    <br />

    <p class="footer-links"><a href="/privacy">Privacy</a> © 2017 Floot</p>

<% else # if the user IS signed in, render the following %>

    <script>document.location = "/<%= current_user.username %>"</script>

<% end %>